.scheduleContainer {
    align-items: flex-start;
}

.scheduleContainerHeader {
    margin-top: 10px;
}

.buttonAddLoadInfo {
    margin-left: 20px
}

.buttonEditLoadInfo {
    display: inline-block;
}