table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #E2E8F0
}

td, th {
    word-wrap: break-word;
    padding: 10px;
    text-align: center;
}

.thAndTdDayAndTime {
    width: 10%;
}

.tdLesson {
    padding: 0
}

.scheduleContainer {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1
}

.scheduleContainerHeader {
    padding-right: 5px
}

.scheduleTableHeader {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden
}

.scheduleHeader {
    font-size: 18px;
    background: #434C63;
    color: #FFFFFF
}

.scheduleContainerBody {
    overflow: auto
}

.scheduleContainerBodyNoContent {
    flex: 1
}

.scheduleTableBodyNoContent {
    height: 100%
}

.scheduleTableBodyContent {
    margin-bottom: 1px
}

.scheduleBodyNoContent {
    background: #EFEFEF;
}

.scheduleBody {
    color: #434c63
}

.lessonContentMono {
    padding: 10px
}

.lessonContentFlex {
    border-top: 1px solid #E2E8F0;
    padding: 10px
}

.oddRow {
    background: #f1f1f1;
}