::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-thumb {
    background: #495471;
    border-radius: 5px
}

*, *::after, *::before {
    box-sizing: border-box;
}

header {
    background: #434c63;
    height: 10vh;
    display: flex;
    align-items: center;
}

main {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

header, main, footer {
    padding-left: 30px;
    padding-right: 30px;
}

a {
    text-decoration: none;
    color: #434c63
}

h1, h2 {
    font-weight: normal;
}

header > :nth-child(2) {
    margin: 0 8% 0 0;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
}

.button {
    background: #353f57;
    border-radius: 7px;
}

.link {
    background: #353f57;
    border-radius: 7px;
    color: #FFFFFF;
    font-size: 1.25em;
    padding: 10px;
    min-width: max-content;
}

.noFetchDataBlock {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}